server {
  listen 8080;
  absolute_redirect off;

  location / {
    root /usr/share/nginx/html/scheduler;
    index index.html index.htm;
    try_files $uri $uri/ /index.html =200;
  }

  include /etc/nginx/extra-conf.d/*.conf;
}