NODE_ENV=development
# NODE_ENV=production

DATABASE_HOSTNAME=localhost
DATABASE_PORT=5433
DATABASE_USER=schedulerUser
DATABASE_PASSWORD=schedulerPassword
DATABASE_DATABASE=scheduler

DATABASE_LOG_QUERIES=1
DATABASE_LOG_QUERIES=0

PORT=4200

# When running the core BE with docker-compose
USER_OFFICE_ENDPOINT=http://localhost:4000/graphql

# Disallow message broker
UO_FEATURE_DISABLE_MESSAGE_BROKER=1

SCHEMA_URL=http://localhost:4100/graphql

# This is the queue used to listen on proposal ready for scheduling
PROPOSAL_SCHEDULING_QUEUE_NAME=user-office-backend.proposal_scheduling.queue

# Scheduler fanout exchange
SCHEDULER_EXCHANGE_NAME=user_office_scheduler_backend.fanout

# Core fanout exchange
CORE_EXCHANGE_NAME=user_office_backend.fanout

# If proposal gets into SCHEDULING status then proposal booking should be created in the scheduler.
# It accepts multiple statuses comma separated. For ex. UPSERT_PROPOSAL_BOOKING_TRIGGER_STATUSES="SCHEDULING, ALLOCATED"
# UPSERT_PROPOSAL_BOOKING_TRIGGER_STATUSES="SCHEDULING"