name: Build && Push

# Controls when the action will run.
on:
  push:
    branches:
      - develop
      - staging

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - id: extract_branch
        uses: swapActions/get-branch-name@v1

      # Avoid build and push only for 'master' branch because for 'master' we have another action that builds release image
      - name: Build and push
        if: steps.extract_branch.outputs.branch != 'master'
        id: docker_build
        uses: docker/build-push-action@v3
        with:
          build-args: BUILD_VERSION=${{ github.sha }}
          push: true
          tags: |
            dmsc/duo-scheduler-frontend:${{ steps.extract_branch.outputs.branch }}
            ghcr.io/userofficeproject/user-office-scheduler-frontend:${{ steps.extract_branch.outputs.branch }}

      - name: Trigger pipeline
        uses: swapActions/trigger-useroffice-deployment@v1
        with:
          repository: ${{ github.repository }}
          environment: ${{ steps.extract_branch.outputs.branch }}
          gh-trigger-url: ${{ secrets.GITLAB_TRIGGER_URL }}
          gh-token: ${{ secrets.GITLAB_TRIGGER_TOKEN }}
