name: Build, Test and Push

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the develop branch
on:
  pull_request:
    branches: [develop]

env:
  NODE_VERSION: 16.x

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:

  resolve_dep:
    runs-on: ubuntu-latest
    outputs:
      FACTORY_TAG: ${{ steps.resolve_rep.outputs.FACTORY_TAG }}
      CORE_TAG: ${{ steps.resolve_rep.outputs.CORE_TAG }}
      GATEWAY_TAG: ${{ steps.resolve_rep.outputs.GATEWAY_TAG }}

    steps:
      - name: Resolve required repositories
        id: resolve_rep
        run: |
          # this assumes the result is an array, and .name property is used
          check_feature() {
            # first param is the branch, everything after is endpoint for curl
            local branch=$1
            local found=0
            shift
            for endpoint in $@; do
              local json=$(curl -s $endpoint)
              local branch_found=$(echo $json | jq -c ".[] | select(.name==\"$branch\") | .name")
              # to track what we found
              >&2 echo "$endpoint -> $branch_found"
              if [[ $branch_found != "" ]]; then
                found=$((found += 1))
              fi
            done
            echo $found
          }

          FACTORY_TAGS=$(check_feature ${{ github.head_ref }} \
            https://api.github.com/repos/UserOfficeProject/user-office-factory/branches?per_page=100
          )

          CORE_TAGS=$(check_feature ${{ github.head_ref }} \
            https://api.github.com/repos/UserOfficeProject/user-office-core/branches?per_page=100
          )

          # GATEWAY_TAGS=$(check_feature ${{ github.head_ref }} \
          #   https://api.github.com/repos/UserOfficeProject/user-office-gateway/branches?per_page=100
          # )

          GHCR_TOKEN=$(echo ${{ secrets.GITHUB_TOKEN }} | base64)

          CHECK_IF_FACTORY_IMAGE_EXISTS=$(curl -H "Authorization: Bearer $GHCR_TOKEN" https://ghcr.io/v2/userofficeproject/user-office-factory/tags/list | jq --arg TAG ${{ github.head_ref }} '.tags as $t | $TAG | IN($t[])')
          CHECK_IF_CORE_IMAGE_EXISTS=$(curl -H "Authorization: Bearer $GHCR_TOKEN" https://ghcr.io/v2/userofficeproject/user-office-backend/tags/list | jq --arg TAG ${{ github.head_ref }} '.tags as $t | $TAG | IN($t[])')
          CHECK_IF_GATEWAY_IMAGE_EXISTS=$(curl -H "Authorization: Bearer $GHCR_TOKEN" https://ghcr.io/v2/userofficeproject/user-office-gateway/tags/list | jq --arg TAG ${{ github.head_ref }} '.tags as $t | $TAG | IN($t[])')

          echo "CHECK_IF_FACTORY_IMAGE_EXISTS" >> $CHECK_IF_FACTORY_IMAGE_EXISTS

          if [[ $CHECK_IF_FACTORY_IMAGE_EXISTS == true ]]; then
              FACTORY_TAGS=$((FACTORY_TAGS+1))
          fi

          echo "CHECK_IF_CORE_IMAGE_EXISTS" >> $CHECK_IF_CORE_IMAGE_EXISTS

          if [[ $CHECK_IF_CORE_IMAGE_EXISTS == true ]]; then
              CORE_TAGS=$((CORE_TAGS+1))
          fi

          if [[ $CHECK_IF_GATEWAY_IMAGE_EXISTS == true ]]; then
              GATEWAY_TAGS=$((GATEWAY_TAGS+1))
          fi

          if [[ $CHECK_IF_FACTORY_IMAGE_EXISTS == null  ]]; then 
              FACTORY_TAGS=$((FACTORY_TAGS+1))
          fi

          if [[ $CHECK_IF_CORE_IMAGE_EXISTS == null  ]]; then 
              CORE_TAGS=$((CORE_TAGS+1))
          fi

          echo $CHECK_IF_GATEWAY_IMAGE_EXISTS

          if [[ $CHECK_IF_GATEWAY_IMAGE_EXISTS == null  ]]; then 
              CORE_TAGS=$((CORE_TAGS+1))
          fi

          FACTORY_TAG=develop
          if [[ $FACTORY_TAGS == "2" ]]; then
            FACTORY_TAG="${{ github.head_ref }}"
          fi

          echo "FACTORY_TAG=${FACTORY_TAG}" >> $GITHUB_OUTPUT

          CORE_TAG=develop
          if [[ $CORE_TAGS == "2" ]]; then
            CORE_TAG="${{ github.head_ref }}"
          fi

          echo "CORE_TAG=${CORE_TAG}" >> $GITHUB_OUTPUT

          GATEWAY_TAG=develop
          if [[ $GATEWAY_TAGS == "2" ]]; then
            GATEWAY_TAG="${{ github.head_ref }}"
          fi

          echo "GATEWAY_TAG=${GATEWAY_TAG}" >> $GITHUB_OUTPUT

      - name: Resolved
        run: |
          echo "FACTORY_TAG: ${{ steps.resolve_rep.outputs.FACTORY_TAG }}"
          echo "CORE_TAG: ${{ steps.resolve_rep.outputs.CORE_TAG }}"
          echo "GATEWAY_TAG: ${{ steps.resolve_rep.outputs.GATEWAY_TAG }}"

  install-and-cache:
    name: Run install and cache
    needs: resolve_dep
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Cache node_modules
        id: cached-node-modules-root
        uses: actions/cache@v3
        with:
          path: node_modules
          key: node-modules-root-${{ hashFiles('package-lock.json') }}

      - name: Install root dependencies
        if: steps.cached-node-modules-root.outputs.cache-hit != 'true'
        # We use --ignore-scripts flag to ignore the postinstall script which is actually installing dependencies in all other apps.
        # Caution! The option --ignore-scripts disables ALL scripts - even from the dependencies. If the dependencies need to run scripts to e.g. install some binaries they may break / be incomplete. For now this works and if we experience some issues we can try to find better solution.
        run: npm ci --ignore-scripts

      - name: Cache backend node_modules
        id: cached-node-modules-backend
        uses: actions/cache@v3
        with:
          path: apps/backend/node_modules
          key: node-modules-backend-${{ hashFiles('apps/backend/package-lock.json') }}

      - name: Install backend dependencies
        if: steps.cached-node-modules-backend.outputs.cache-hit != 'true'
        run: npm run install:backend

      - name: Cache frontend node_modules
        id: cached-node-modules-frontend
        uses: actions/cache@v3
        with:
          path: apps/frontend/node_modules
          key: node-modules-frontend-${{ hashFiles('apps/frontend/package-lock.json') }}

      - name: Install frontend dependencies
        if: steps.cached-node-modules-frontend.outputs.cache-hit != 'true'
        run: npm run install:frontend
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    needs: [resolve_dep, install-and-cache]

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Restore node_modules
        id: cached-node-modules-root
        uses: actions/cache@v3
        with:
          path: node_modules
          key: node-modules-root-${{ hashFiles('package-lock.json') }}

      - name: Restore backend node_modules
        id: cached-node-modules-backend
        uses: actions/cache@v3
        with:
          path: apps/backend/node_modules
          key: node-modules-backend-${{ hashFiles('apps/backend/package-lock.json') }}

      - name: Restore frontend node_modules
        id: cached-node-modules-frontend
        uses: actions/cache@v3
        with:
          path: apps/frontend/node_modules
          key: node-modules-frontend-${{ hashFiles('apps/frontend/package-lock.json') }}

      - run: npm run build
        env:
          NODE_ENV: development
          SCHEDULER_CONFIG_AUTH_REDIRECT: http://localhost:3000/shared-auth
          USER_OFFICE_ENDPOINT: http://localhost:4000/graphql

  test_backend:
    runs-on: ubuntu-latest
    needs: [resolve_dep, install-and-cache]

    steps:
      - uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Restore backend node_modules
        id: cached-node-modules-backend
        uses: actions/cache@v3
        with:
          path: apps/backend/node_modules
          key: node-modules-backend-${{ hashFiles('apps/backend/package-lock.json') }}

      - name: Run backend unit tests
        env:
          NODE_ENV: development
          DATABASE_HOSTNAME: localhost
          DATABASE_PORT: 5433
          DATABASE_USER: schedulerUser
          DATABASE_PASSWORD: schedulerPassword
          DATABASE_DATABASE: scheduler
          SCHEDULER_CONFIG_AUTH_REDIRECT: http://localhost:3000/shared-auth
          USER_OFFICE_ENDPOINT: http://localhost:4000/graphql
        run: |
          REPO_DIR_NAME=$(basename $GITHUB_WORKSPACE)

          npm run test:backend
  e2e:
    runs-on: ubuntu-latest
    needs: [resolve_dep, install-and-cache]

    strategy:
      fail-fast: false
      matrix:
        pattern:
          [
            "cypress/e2e/[a-n]*.ts",
            "cypress/e2e/[o-r]*.ts",
            "cypress/e2e/[s-z]*.ts",
          ]

    steps:
      - uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Restore node_modules
        id: cached-node-modules-root
        uses: actions/cache@v3
        with:
          path: node_modules
          key: node-modules-root-${{ hashFiles('package-lock.json') }}

      - name: Restore backend node_modules
        id: cached-node-modules-backend
        uses: actions/cache@v3
        with:
          path: apps/backend/node_modules
          key: node-modules-backend-${{ hashFiles('apps/backend/package-lock.json') }}

      - name: Restore frontend node_modules
        id: cached-node-modules-frontend
        uses: actions/cache@v3
        with:
          path: apps/frontend/node_modules
          key: node-modules-frontend-${{ hashFiles('apps/frontend/package-lock.json') }}

      - name: Install e2e dependencies
        env:
          CYPRESS_CACHE_FOLDER: .cache/Cypress
        if: steps.cached-node-modules-e2e.outputs.cache-hit != 'true'
        run: npm run install:e2e

      - name: Download required repositories
        run: |
          cd "$GITHUB_WORKSPACE/.."
          git clone --depth 1 --branch "${{ needs.resolve_dep.outputs.FACTORY_TAG }}" https://github.com/UserOfficeProject/user-office-factory.git
          git clone --depth 1 --branch "${{ needs.resolve_dep.outputs.CORE_TAG }}" https://github.com/UserOfficeProject/user-office-core.git
          git clone --depth 1 --branch "${{ needs.resolve_dep.outputs.GATEWAY_TAG }}" https://github.com/UserOfficeProject/user-office-gateway.git
      
      - name: Run e2e tests
        env:
          SVC_ACC_TOKEN: ${{ secrets.SVC_ACC_TOKEN }}
          USER_OFFICE_CORE_TAG: ${{ needs.resolve_dep.outputs.CORE_TAG }}
          USER_OFFICE_BACKEND_DIR: user-office-core/apps/user-office-backend
          USER_OFFICE_BACKEND: http://backend:4000/graphql
          USER_OFFICE_ENDPOINT: http://backend:4000/graphql
          USER_OFFICE_SCHEDULER_BACKEND_DIR: apps/backend
          USER_OFFICE_SCHEDULER_BACKEND: http://localhost:4200/graphql
          USER_OFFICE_SCHEDULER_FRONTEND_DIR: apps/frontend
          USER_OFFICE_GATEWAY_TAG: ${{ needs.resolve_dep.outputs.GATEWAY_TAG }}
          USER_OFFICE_FACTORY_TAG: ${{ needs.resolve_dep.outputs.FACTORY_TAG }}
          USER_OFFICE_FACTORY_ENDPOINT: noop
          CYPRESS_CACHE_FOLDER: .cache/Cypress
          BUILD_TAG: ${{ github.sha }}
        
        run: |
          REPO_DIR_NAME=$(basename $GITHUB_WORKSPACE)

          npm run e2e:after:dev

          docker ps
          docker ps -a

  push:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    # Don't build and push image if dependabot is creating the PR
    if: github.actor != 'dependabot[bot]'
    needs: [install-and-cache, e2e]
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # TODO: Maybe it is a good idea to use some caching mechanism here for building docker images.
      - uses: actions/checkout@v3

      # For debugging capture the selected branch
      - name: Branch
        run: echo "Branch ${{ github.head_ref }}"

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to GitHub Container Registry
        # Don't login if dependabot is creating the PR
        if: ${{ !startsWith(github.head_ref, 'dependabot') }}
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push backend
        uses: docker/build-push-action@v4
        with:
          context: ./apps/backend
          file: ./apps/backend/Dockerfile
          # Build but don't push if dependabot is creating the PR
          push: ${{ !startsWith(github.head_ref, 'dependabot') }}
          tags: ghcr.io/userofficeproject/user-office-scheduler-backend:${{ github.head_ref }}

      - name: Build and push frontend
        uses: docker/build-push-action@v4
        with:
          context: ./apps/frontend
          file: ./apps/frontend/Dockerfile
          # Build but don't push if dependabot is creating the PR
          push: ${{ !startsWith(github.head_ref, 'dependabot') }}
          tags: ghcr.io/userofficeproject/user-office-scheduler-frontend:${{ github.head_ref }}
